html,
body {
  height: 100%;
}

.app-layout header[role="banner"] {
  display: table;
  width: 100%;
  height: 70vh;
  min-height: 70%;
  color: $clouds;
  .header-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .me {
      width: 128px;
      height: 128px;
      margin: 0 auto 20px;
      background: transparent url(../images/me.png) no-repeat center center;
      background-size: 128px 128px;
      @include border-radius($global-rounded);
      border: 3px solid $midnight-blue;
    }
    h1 {
      color: $clouds;
      font-size: rem-calc(32);
    }
    .inline-list {
      text-align: center;
      > li {
        display: inline-block;
        float: initial;
      }
    }
  }
}

.multiplebgs .app-layout header[role="banner"] {
  background: $wet-asphalt;
  background: linear-gradient(-180deg, $wet-asphalt 0%, rgba($midnight-blue, .9) 100%), url(https://source.unsplash.com/category/nature/daily);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.no-multiplebgs .app-layout header[role="banner"] {
  background-color: $wet-asphalt;
  background-image: linear-gradient(-180deg, rgba($wet-asphalt, .5) 0%, rgba($midnight-blue, .5) 100%);
}

.mailchimp-layout {
  header[role="banner"] {
    .header-cover {
      width: 100%;
      height: 600px;
      background: $mailchimp-yellow url(../images/freddie_wink.png) no-repeat center center;
      background-size: 256px 281.6px;
    }
    .header-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 40px 20px;
      background-color: $mailchimp-blue;
      .me {
        width: 64px;
        height: 64px;
        background: transparent url(../images/me.png) no-repeat center center;
        background-size: 64px 64px;
        @include border-radius($global-rounded);
      }
      .me-info {
        margin-left: 20px;
        color: $mailchimp-white;
        h1 {
          margin: 0 0 5px 0;
          font-size: rem-calc(26);
          color: $mailchimp-white;
        }
      }
    }
  }
}

@media #{$small-only} {
  .mailchimp-layout header[role="banner"] .header-footer {
    display: block;
    .me {
      margin: 0 auto 20px;
    }
    h1 {
      text-align: center;
    }
    .inline-list {
      text-align: center;
      > li {
        display: inline-block;
        float: initial;
      }
    }
  }
}

main[role="main"] {
  padding: 40px 10px 0;
  article section {
    margin-bottom: 20px;
    border-bottom: 1px solid $clouds;
    @include clearfix;
  }
}

#site-footer {
  padding: 0 10px 20px;
}
