h1,
h2 {
  font-weight: $font-weight-bold;
}

.text-small {
  font-size: $small-font-size;
}

.mute {
  color: $silver;
}

.bold {
  font-weight: $font-weight-bold;
}

.upcase {
  text-transform: uppercase;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
