h1,
h2 {
  font-weight: $font-weight-bold;
}

.text-small {
  font-size: $small-font-size;
}

.mute {
  color: $silver;
}

.bold {
  font-weight: $font-weight-bold;
}

.upcase {
  text-transform: uppercase;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}
