<section>
  <h2>Hello</h2>
  <p>
    My name is Matt Vasquez. Nice to meet you. I'm a software developer living in Fort Worth, Texas. Most of my days are spent crafting software and leading development teams. I love what I do.
  </p>
  <p>
    I'm probably best described as a generalist, and I'm ok with that. I embrace it! It allows me to dip my toe into each layer of an application without being pigeonholed to just the database or front-end. My ultimate goal is to craft awesome software with a balance of form and function. Software that delights. I believe that software is at the intersection of art and science, and that is why I love what I do.
  </p>
  <p>
    When I'm not typing on a keyboard you can find me on the golf course or outside with my wife and two kids enjoying some beautiful Texas weather.
  </p>
  <hr>
  <p>
    Building something great? Need some help? Let's get in touch! Feel free to <%= mail_to 'mattvasquez@gmail.com', 'email' %> me and let's build the next rad thing together!
  </p>
  <ul class="small-block-grid-1 medium-block-grid-4">
    <li>
      <a href="https://www.linkedin.com/in/cmattvasquez" class="ss-linkedin" target="_blank">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://github.com/dwarfmondo" class="ss-github" target="_blank">
        Github
      </a>
    </li>
    <li>
      <a href="https://dribbble.com/cmv" class="ss-dribbble" target="_blank">
        Dribbble
      </a>
    </li>
    <li class="medium-text-right">
      <a href="/assets/images/matt-vasquez-resume.pdf" class="mute">Download Resume</a>
    </li>
  </ul>
</section>
<section>
  <h2>Experience</h2>
  <h5 class="subheader upcase bold margin-bottom-10">
    Founder, Scrummage, LLC &bull; Fort Worth, TX &bull; 2008 &ndash; Present
  </h5>
  <p>
    <a href="http://getscrummage.com">http://getscrummage.com</a>
  </p>
  <p>
    After trying many Scrum management tools to utilize at previous companies, I found that there wasn’t a product on the market that met all of our needs as an agile development team. I began working on Scrummage in 2008 and continue to work on it today with an awesome team. We have served clients such as <a href="http://theverge.com">The Verge</a>, <a href="http://sbnation.com">SB Nation</a> and <a href="http://booking.com">Booking.com</a> to name a few.
  </p>
  <p>
    My responsibilities include&hellip;
  </p>
  <ul>
    <li>
      Managing the Business
    </li>
    <li>
      Customer Support
    </li>
    <li>
      Hiring
    </li>
    <li>
      Software Development (Ruby, Ruby on Rails, Middleman, SASS/SCSS, Backbone.js, MySQL)
    </li>
    <li>
      UI/UX design
    </li>
  </ul>
  <h5 class="subheader upcase bold margin-bottom-10">
    Manager of software development, OGsys &bull; Fort Worth, TX &bull; 2013 &ndash; Present
  </h5>
  <p>
    <a href="http://www.ogsys.com">http://www.ogsys.com</a>
  </p>
  <p>
    I was brought onboard to provide technical leadership and mentoring to the development team creating the next generation product for the company. Responsibilities include user experience and visual design, implementing Scrum and agile practices, serving as Scrum Master, architect and writing code.
  </p>
  <p>
    My responsibilities include&hellip;
  </p>
  <ul>
    <li>
      Scrum Master
    </li>
    <li>
      Hiring
    </li>
    <li>
      Architecture
    </li>
    <li>
      Software Development (C#, Asp.Net MVC, SASS/SCSS, Backbone.js, SQL Server)
    </li>
    <li>
      UI/UX design
    </li>
  </ul>
  <h5 class="subheader upcase bold margin-bottom-10">
    Director of Development, causemetric &bull; Rogers, AR &bull; 2011 &ndash; 2013
  </h5>
  <p>
    <a href="https://purecharity.com/">https://purecharity.com</a>
  </p>
  <p>
    Managed the development of a social giving platform called Pure Charity. Implemented the Scrum methodology and was Scrum Master, hired and managed development team members, wrote code (full stack developer).
  </p>
  <p>
    My responsibilities included&hellip;
  </p>
  <ul>
    <li>
      Scrum Master
    </li>
    <li>
      Managing a remote team
    </li>
    <li>
      Hiring
    </li>
    <li>
      Architecture
    </li>
    <li>
      UI/UX design
    </li>
    <li>
      Software Development (Ruby, Ruby on Rails, SASS/SCSS, Backbone.js, PostgreSQL)
    </li>
  </ul>
  <h5 class="subheader upcase bold margin-bottom-10">
    UX Manager, Active Network &bull; Irving, TX &bull; 2010 &ndash; 2011
  </h5>
  <p>
    <a href="http://activenetwork.com/">http://activenetwork.com</a>
  </p>
  <p>
    Through acquisition of Fellowship Technologies.
  </p>
  <h5 class="subheader upcase bold margin-bottom-10">
    UX Architect, Fellowship Technologies &bull; Irving, TX &bull; 2004 &ndash; 2010
  </h5>
  <p>
    <a href="http://fellowshipone.com/">http://fellowshipone.com</a>
  </p>
  <p>
    I came onboard during the first 6 months of the company as a full stack .Net developer but moved into a user experience role a year or so later. I was also a member of the leadership team. Responsibilities included product design (visual and user experience), managing the UX team, working with engineering teams, font-end development including (HTML/CSS/JavaScript), full stack development.
  </p>
  <p>
    My responsibilities included&hellip;
  </p>
  <ul>
    <li>
      UI/UX design
    </li>
    <li>
      Managed UX team
    </li>
    <li>
      Hiring for the UX team
    </li>
    <li>
      Front-end architecture
    </li>
    <li>
      Member of the leadership team
    </li>
    <li>
      Employee of The Year, 2007
    </li>
  </ul>
  <h5 class="subheader upcase bold margin-bottom-10">
    Consultant, Hitachi Consulting &bull; Dallas, TX &bull; 2003 &ndash; 2004
  </h5>
  <h5 class="subheader upcase bold">
    Developer, HealthSoft, Inc. &bull; Dallas, TX &bull; 2002 &ndash; 2003
  </h5>
</section>
<section>
  <h2>Education</h2>
  <h5 class="subheader bold margin-bottom-10">
    University of North Texas, Denton, TX
  </h5>
  <p>
    Bachelor of Science, Business Computer Information Systems
  </p>
</section>
<section>
  <h2>Skills, Certifications</h2>
  <ul>
    <li>
      Product Design (UI/UX)
    </li>
    <li>
      Ruby, C#
    </li>
    <li>
      Ruby on Rails, Asp.Net MVC
    </li>
    <li>
      MySQL, PostgreSQL, SQL Server
    </li>
    <li>
      jQuery, Backbone, React
    </li>
    <li>
      SASS/SCSS, CSS3, HTML5
    </li>
    <li>
      Git
    </li>
    <li>
      Certified Scrum Master, 2013 - Present, Scrum Alliance
    </li>
  </ul>
</section>
