<section>
  <h2>Howdy!</h2>
  <p>
    My name is Matt Vasquez. Nice to meet you. I don't want to bore you with details of my résumé; you can read all that <%= link_to 'here', '/index.html', target: '_blank' %>. Instead, let's cut to the chase. I LOVE MailChimp. Seriously. From the products, to the messaging, to the culture &ndash; I'm a fan. When I first read the job description for <b>Software Engineering Manager</b> I was so excited. This is what my entire career has been preparing me for. I'm a perfect fit, and let me tell you why.
  </p>
  <p>
    Way back in the early 2000's after graduating college, I got my first job as a VB6 and ColdFusion developer working for a small company in Dallas, TX. We made a suite of software to support dentists and dental universities. I had no idea what I was doing :) Like I said, it was a small company and there were only 3 developers including myself. Although I only spent a year there, the lessons I learned had a profound impact on the trajectory of my career. Whenever I would run into a problem and complain that the task was impossible, a co-worker would tell me "We're developers. Anything is possible". That simple statement sticks with me today. It has allowed me to tackle problems with a positive attitude, knowing that there is always a solution. It's allowed me to experiment, iterate, and try new things. That spirit is what drives me today. It's what I tell my engineers and it's how I lead my teams.
  </p>
  <p>
    I'm probably best described as a generalist, and I'm ok with that. I embrace it! It allows me to dip my toe into each layer of an application without being pigeonholed to just the database or front-end. My ultimate goal is to craft awesome software with a balance of form and function. Software that delights. I believe that software is at the intersection of art and science, and that is why I love what I do.
  </p>
  <p>
    I'm a perfect fit for MailChimp because with a great company, culture, and product we <em>can</em> do anything.
  </p>
</section>
<section>
  <p>
    Feel free to contact me anytime, even if it's just to talk shop.
    <br />
    I'm passionate about software and I have fun nerding out over this stuff!
  </p>
  <div class="vcard">
    <a class="url fn" href="http://dwarfmondo.com">Matt Vasquez</a>
    <br />
    <a class="email" href="mailto:mattvasquez@gmail.com">mattvasquez@gmail.com</a>
    <div class="adr">
      <div class="street-address">3737 Bunting Ave.</div>
      <span class="locality">Fort Worth</span>
      ,
      <span class="region">TX</span>
      ,
      <span class="postal-code">76107</span>
    </div>
    <div class="tel">(214) 502-6766</div>
  </div>
</section>
<p class="text-center">
  <%= image_tag 'heart-mailchimp.png', width: 186, height: 36, alt: 'I Love MailChimp' %>
</p>
